%table.table.table-striped
  %thead
    %tr
      %th #
      %th Title
      %th Receipt date
      %th Quantity in stock
      %th Quantity of employees
      %th Image
  %tbody
    - @invent.each_with_index do |item,i|
      %tr
        %th{:scope => "row"}
          = i += 1
          %td= Type.find(item.type_id).name
          %td= item.receipt_date
          %td
          %td
          %td= item.avatar






.btn-group{"aria-label" => "...", :role => "group"}
  = link_to 'New', new_managment_inventory_path, type: "button"
