%div.container.mt50
  %div.row
    %table.table-bordered.col-md-12.table-striped.table-hover
      %thead
        %tr
          %th #
          %th User_Id
          %th Inventory_Id
          %th Title
          %th Date of Receipt
          %th Quantity in Stock
          %th Quantity of Employees
      %tbody
        - @tech.each do |item|
          %tr
            %td= item.id
            %td= item.user_id
            %td= item.inventory_id
            %td= item.title
            %td= item.date_of_receipt
            %td= item.quantity_in_stock
            %td= item.quantity_of_employees
            %td= link_to 'Show', managment_inventory_path(item), type: "button"
            %td= link_to 'Edit',  edit_managment_inventory_path(item), type: "button"
            %td= link_to "Delete", managment_inventory_path(item), method: :delete, data: {confirm: "This can not be undone"}


.btn-group{"aria-label" => "...", :role => "group"}
  = link_to 'New', new_managment_inventory_path, type: "button"

