!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SpaApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    - flash.each do |key, value|
      .global-alert.col-md-6.col-md-offset-3{:style => "color: #FD3E58;"}
        %div
          = value
    .app-content
      = yield
