<!DOCTYPE html>
<html>
<head>
  <title>SpaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
    <div class="global-alert col-md-6 col-md-offset-3" style="color: #FD3E58;">
      <div>
        <%= value %>
      </div>
    </div>
<% end %>

<div class="app-content">
  <%= yield %>
</div>

</body>
</html>